body{
  background-color: #000000;

}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.box{
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.circle{
  font-size: 55px;
  color: #13d674;
}
.cross{
  font-size: 55px;
  color: #e44501;
}